a:hover {
    color: grey;
    text-decoration: none;
}
body {
    background: center top no-repeat url("image/img.jpg");
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 100%;
}
.mid {
    text-align: center;
}
.midBox {
    color: white;
    margin: 0;
    float: none;
}
thumb {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.fill {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-color: grey;
    border-style: solid;
    border-radius: 5px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
#game {
    display: none;
}

#imageContainer {
    max-height: 900px;
}
#game, #menu {
    width: 100%;
}

img {
    vertical-align: center;
}
